spring:
  datasource:
    url: jdbc:h2:mem:ticketingdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

# JWT
#security:
#  jwt:
#    secret: "cambia-esta-clave-super-secreta-para-produccion"
#    expiration-minutes: 60

# Server
server:
  port: 8080

logging:
  level:
    org.springframework.web: INFO
    com.example.ticketing: DEBUG
